<style>
 .row_foot{
    width: 100%;
    padding: 15px;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: #fff;
 }
</style>

<div class="container-fluid px-0 container_footer"> 
  <div class="row no-gutters row_foot fixed-bottom">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
      <small>路公易濕戰隊</small>
    </div>
  </div>
</div>