<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Search...">
      <a href="#" class="search_btn"><i class="fas fa-search"></i></a>
      <hr>
      <%= link_to "新增po文", new_food_path, class:'btn btn-primary new_btn' %>
    </div>
  </div>
</div>