.section_giver_order{
  height: 110%;
  background-color: #fff;
}
.row_orders_givers {
  background-color: #fff;
}
table{
  border: none;
}
.orders_giver_header > img{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}