.container_show{
  background-color: rgba(255,255,255,0.5);
}
.col_show{
  height: 100%;
  margin: 80px auto;
  padding: 50px 0;
  background-color: #fff;
}
.img_show{
  width: 100%;
  border-radius: 5px; 
}
.show_info > h1{
  color: rgb(195, 0, 0);
  font-size: 40px;
  margin: 30px 0;
}
.show_info > .show_price{
  margin: 15px 0;
}
.show_price > strong{
  font-size: 30px;
}
.show_price > del{
  color: #aaa;
}
.show_info > h3{
  color: rgb(195, 0, 0);
  font-size: 30px;
}
.show_info > p{
  font-size: 20px;
}
select{
  height:35px;
  width: 30%;
  background-color: #eee;
}
input.show_btn{
  margin-left: 20px;
}
/* ---- 地圖 ---- */

#map {
  width: 100%;
  height: 400px;
  margin: 50px auto 0 0;
  background-color: #eee;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}