.col_header{
  width: 100%;
  line-height: 15px;
  color: #000;
  background-color:  rgb(255, 210, 0);
  text-align: center;
}
.row_search,.row_search_btn{
  text-align: center;
}
.row_search{
  margin: 70px 0 5px 0;
}
.btn_search_bar,.btn_create{
  width: 150px;
  height: 40px;
  font-size: 18px;
  
}
input.search{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding-left: 15px;
  border-radius: 5px;
  border: 5px solid #343a40;
}
@media screen and (min-width: 768px){
  input.search{
    width: 60%;
  }
}
.foods_search_btn{
  width: 120px;
  height: 51px;
}
@media screen and (min-width: 768px){
  .foods_search_btn{
    width: 80px;
    height: 50px;
    margin-left: -15px;
    margin-top: -4px;
  }
}
.row_about{
  margin: 60px 0;
}
.col_foods_about{
  margin: 70px auto;
}
.col_image{
  margin: 3px;
  width: 100%;
}
img{
width: 100%;
}