.create_form{
  text-align: center;/*
  background-image: url(/assets/header04.jpg);
  background-image: url(<%= asset_path 'header04.jpg' %>);*/

  background-color: rgb(255, 221, 109);
  padding: 10px;
  letter-spacing: 3px;
}
.create_form > h3{
  font-size: 26px;
  color: rgb(0, 0, 0);
}
.row_form{
  margin: 40px auto 100px;
}
.col_form{
  margin: auto;
  padding: 10px !important;
  border-radius: 30px;
  background-color: #fff;
}
@media screen and (min-width: 768px){
  .col_form.new{
    margin: auto;
    padding: 70px !important;

    background-color: #fff;
  }
}
.label_form{
  font-size: 18px;
}
.input_img{
  width: 100%;
  font-size: 18px;
  color: #aaa;
  border-radius: 10px;
}
.input_form{
  width: 100%;
  font-size: 18px;
  padding: 5px;
  outline: none;
  padding-left: 15px;
  border-radius: 10px;
  border: 2px solid rgb(240, 240, 240);
  background-color: rgb(240, 240, 240);
}
div.select_form{
  width: 100%;
  font-size: 18px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #fff;
}
textarea{
  width: 100%;
  outline: none;
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #fff;
}
.select_form > select{
  width: 100%;
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: #fff;
}
.btn_form{
  width: 120px;
  height: 40px;
  border-radius: 5px;
}