.container_foods_list{
  width: 100%;
}
.row_foods_list{
  width: 355px;
  margin: auto;
  padding: 20px 0;
}
@media (min-width: 768px) and (max-width: 979px) {
  .row_foods_list{
    width: 630px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 20px;
  }
}
@media screen and (min-width: 980px){
  .row_foods_list{
    width: 930px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 20px;
  }
}
.col_list{
  width: 355px;
  margin: 10px auto;
  position: relative;
  border-radius: 5px;
  border: 3px solid #eee;
  background-color: #fff;
  }
  @media screen and (min-width: 768px){
    .col_list{
      width: 300px;
      margin: 10px 5px;
    }
  }
  .col_list:hover{
    border: 3px solid  rgb(255, 195, 0);
  }
  .col_list_sold_out:hover{
    border: 3px solid #eee;
  }

/*--- 商店title ---*/
p.list_store_name{
  padding: 5px 20px;
  font-size: 16px;
  background-color: #eee;
  margin-bottom: 0;
}
a.store_name {
  color: #000 !important;
}
a.store_name:hover{
  text-decoration-line: none !important;
}

/*--- 圖片 Image ---*/
.list_image > img{
  padding: 10px;
}

/*--- 折扣 OFF ---*/ 
span.off{
  width: 80px;
  height: 80px;
  right: 10px;
  bottom: 308px;
  position: relative;
  position: absolute;
  overflow: visible;
  color: rgb(255, 30, 30);
  border-top:80px solid transparent;
  border-right:80px solid rgb(255, 240, 160);
}
span.off > p {
  top: -50px;
  right: -70px;
  position: absolute;
  font-size: 20px;
  white-space: nowrap;
  overflow: visible;
  font-weight: bold;
  text-shadow: 2px 2px 0px white;
}
span.off > p > span{
  font-size: 30px;
}

 /*--- 資料欄位 info---*/ 
 .col_foods_info{
  margin: 15px 0;
  padding-bottom: 60px;
  }
.col_foods_info > .list_price{
  margin: 15px 0;
  }
.col_foods_info > h3{
  font-size: 22px;
  color: rgb(195, 0, 0);
  } 
@media screen and (min-width: 768px){
  .col_foods_info > h3{
   padding: 0px;
  }
}
.col_foods_info > p{
  font-size: 16px;
  color: #000;
  margin: 3px 0;
  letter-spacing: 2px;
  }
@media screen and (min-width: 768px){
  .col_foods_info > p{
    padding: 0px;
  }
}
.col_foods_info > .list_price > strong{
  font-size: 22px;
  color: #000;
}
.col_foods_info > .list_price > del{
  font-size: 14px;
  color: #aaa;
}

/*--- 按鈕 btn---*/ 
.col_foods_btn{
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 10px 0;
}
.btn_foods_list{
  height: 40px;
  font-size: 18px;
}


/*--- Sold out 看板 ---*/
.list_image_sold_out::after{
  content: "Sold Out";
  width: 330px;
  height: 330px;
  font-size: 35px;
  padding: 140px 0;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(168, 168, 168, 0.8);
  position: absolute;
  top: 50px;
  right: 10px;
}
@media screen and (min-width: 768px){
  .list_image_sold_out::after{
    width: 275px;
    height: 275px;
    padding: 120px 0;
    margin: 10px 5px;
    top: 40px;
    right: 5px;
  }
}
/*---- foods_index_kaminari ----*/
.foods_index_kaminari{
  margin:20px 0 100px 0;
}
@media (min-width: 768px) and (max-width: 979px){
  .foods_index_kaminari{
    margin:50px 0 150px 0;
  }
}
@media screen and (min-width: 980px){
  .foods_index_kaminari{
    margin:50px 0 150px 0;
  }
}