.create_form{
  padding: 20px;
  text-align: center;
  background-color:  rgb(255, 195, 0);
}
.section_form{
  padding: 60px 100px;
}
.col_form{
  width: 100%;
  margin: auto;
}
.input_img{
  color: #aaa;
  border-radius: 10px;
}
.input_form{
  width: 100%;
  outline: none;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
div.select_form{
  width: 100%;
  outline: none;
  padding: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
select{
  width: 100%;
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: #fff;
}

textarea{
  width: 100%;
  outline: none;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.btn_form{
  width: 100px;
  height: 35px;
  border-radius: 5px;
}