   <%= render 'shared/frontend/show' %>
<!----
   <style>
      #map {
        height: 60%;
        width: 40%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>

      <div id="map"></div>

  <script>
    var map, geocoder;

    function initMap() {
      geocoder = new google.maps.Geocoder();
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16
      });

      var address = "<%= @food.address %>";

      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          console.log(status);
        }
      });
    }
    
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Figaro.env.GOOGLE_KEY%>&callback=initMap">
  </script>---->




