  <style>
    .tree{ 
      width: 500px;
      height: 500px;
    }
  </style>

<h1>我的小樹</h1>
<div class="tree">
  <%= order_count(@order_count) %>
</div>
 <p>為您省下： <%= @rescuer_money %>元</p> 
 
 <hr>
 <p>總訂單數： <%= @save_orders %> 筆 </p>
 <p>降低總碳排放：約 <%= @save_orders * 2 %>公斤</p>
