.section_carts_show{
  background-color: #fff;
  height: 100%;
}
.row_carts_show{
  padding: 40px 0 150px;
}
@media screen and (min-width: 768px){
  .row_carts_show{
    padding: 40px 5% 150px;
  }
}
.row_carts_show > h1{
  font-size: 34px;
}
@media screen and (min-width: 768px){
  .ow_carts_show > h1{
    font-size: 30px;
  }
}

.carts_show_store{
  padding: 10px;
  background-color: #000;
}
.carts_show_store > a{
  color: #fff;
  text-decoration: none;
}
.carts_show_store > a:hover{
  color: #fff;
}


.carts_show_info{
  padding: 10px;
  border: 1px solid #000;
  position: relative;
}
.carts_show_info:hover{
  background-color: rgb(245, 245, 245);
}
.carts_show_info > h5{
  margin-bottom: 1.5rem;
  line-height: 1;
}
.btn_del{
  position: absolute;
  top: 20px;
  right: 15px;
}


.carts_show_price > span{
  font-size: 26px;
  color: rgb(195, 0, 0);
}
.carts_show_price > del{
  color: #aaa;
  margin-right: 20px;
}

.carts_show_count{
  margin-bottom: 20px;
  border: 1px solid #000;
}
.carts_show_count > span{
  font-size: 26px;
  color: rgb(195, 0, 0);
}
.carts_show_count > .carts_show_checkout_btn{
  vertical-align: bottom;
}


.carts_show_clear{
  margin-bottom: 100px;
}
.carts_show_clear > .btn_clear{
  margin-right: 16px;
}


.items{
  border-bottom: 1px solid #000;
}



ul.my-cart > li{
  list-style-type: none;
}
.show_del_btn{
  margin: 10px 0;
}






