.row_checkout{
  background-color: rgba(255,255,255,.3);
}
@media screen and (min-width: 768px){
  .row_checkout{
    padding: 40px 0 10%;
  }
}

.col_checkout_info,.col_checkout_title,.col_checkout_recipent,.col_checkout_btn{
  background-color: #fff;
}
.col_checkout_title,.col_checkout_recipent{
  text-align: center;
}
.col_checkout_title > h1{
  padding: 20px 0;
}


.col_checkout_info > .carts_checkout_price{
 padding: 0 8%;
}
@media screen and (min-width: 768px){
  .col_checkout_info > .carts_checkoutpric{
    padding: 0 10%;
  }
}


.checkout_total{
  margin: 20px 30px 0;
  padding-top: 20px;
  border-top: 1px solid #aaa;
}
@media screen and (min-width: 768px){
  .checkout_total{
    margin: 20px 40px 0;
  }
}
.checkout_total > p{
  font-size: 18px;
}
.col_checkout_btn{
  padding: 30px 0 100px;
}
@media screen and (min-width: 768px){
  .col_checkout_btn{
    padding: 30px 0 100px;
  }
}


.carts_checkout_price > h5{
  margin-bottom: 10px;
  line-height: 1;
}
@media screen and (min-width: 768px){
  .carts_checkout_price > h5{
    display: inline-block;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.carts_checkout_price > p{
  margin: 0px 0 5px 0;
}
@media screen and (min-width: 768px){
  .carts_checkout_price > p{
    font-size: 18px;
  }
}

.carts_checkout_price > p > span.discount_price{
  display: inline-block;
  color: rgb(195,0,0);
  font-size: 24px;
  margin-right: 18px;
}
.carts_checkout_price > p > del.origin_price{
  display: inline-block;
  color: #aaa;
  font-size: 16px;
}
.carts_checkout_price > p.total_price{
  display: inline-block;
  text-align: right;
  font-size: 18px;
}
.carts_checkout_price > p.total_price >span{
  color: rgb(195,0,0);
  font-size: 24px;
}



.checkout_total{
  margin-bottom: 50px;
}
.checkout_total > p > span{
  font-size: 30px;
  color: rgb(195, 0, 0);
  margin-right: 30px;
}
ul.checkout{
  margin-bottom: 50px;
  border-bottom: 1px solid #aaa;
}
ul.checkout > li{
  margin-bottom: 50px;
  list-style-type: none;
}
.checkout_del_btn{
  margin: 10px 0;
}
.checkout > .label_form{
  display: block;
  text-align: left;
}
.checkout > .input_form{
  border: 1px solid #aaa;
}

.carts_checkout_price.name{
  margin-bottom: 0px;
  font-size: 18px;
}
@media screen and (min-width: 768px){
  .carts_checkout_price.name{
    margin-bottom: 0px;
    font-size: 30px;
  }
}
.carts_checkout_price.card{
  margin-bottom: 30px;
  border: none;
}

