.row_payment{
  padding: 100px 0;
}
.col_payment,.col_payment_btn{
  text-align: center;
  background-color: #fff;
}
.col_payment_btn > .btn{
  margin-bottom: 60px;
}

.col_payment > h1{
  margin-bottom: 0;
  padding: 40px 0;
}