.section_carts_show{
  background-color: #fff;
  padding: 0 0 150px 0;
}
.row_carts_show{
  background-color: #fff;
  padding: 40px 0 150px;
}
@media screen and (min-width: 768px){
  .row_carts_show{
    padding: 40px 0 25px 0;
  }
}
.row_carts_show > h1{
  margin: auto;
  font-size: 28px;
}
@media screen and (min-width: 768px){
  .ow_carts_show > h1{
    font-size: 30px;
  }
}

.carts_show_store{
  padding: 10px;
  background-color: #000;
}
.carts_show_store > a{
  color: #fff;
  text-decoration: none;
}
.carts_show_store > a:hover{
  color: #eee;
}


.carts_show_info{
  padding: 10px;
  border: 1px solid #000;
  position: relative;
  background-color: #fff;
}
.carts_show_info > h5{
  margin-bottom: 1.5rem;
  line-height: 1;
}
.btn_del{
  position: absolute;
  top: 20px;
  right: 15px;
}

.carts_show_price > span{
  display: inline-block;
  font-size: 20px;
  color: rgb(195, 0, 0);
}
@media screen and (min-width: 768px){
  .carts_show_price > span{
    font-size: 26px;
  }
}
.carts_show_price > del{
  display: inline-block;
  color: #aaa;
  margin-left: 10px;
}
.carts_show_price > p{
  display: block; 
  margin-top: 25px;
  text-align: right;
}
@media screen and (min-width: 768px){
  .carts_show_price > p{
    display: inline-block; 
    margin-top: 0;
    padding-top: 5px;
    float: right;
  }
}
.carts_show_price > p > span{
  font-size: 22px;
  color: rgb(195, 0, 0);
}
@media screen and (min-width: 768px){
  .carts_show_count{
    text-align: right;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 10px 15px 2px 15px;
  }
  .carts_show_count > p{
    display: inline-block;
    margin-right: 20px;
  }
  .carts_show_count > p > span{
    font-size: 26px;
    color: rgb(195, 0, 0);
  }
}
@media screen and (max-width: 767px){
  .carts_show_count{
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 15px 15px 2px 15px;
  }
  .carts_show_count > p{
    display: inline-block;
  }
  .carts_show_count > p > span{
    font-size: 26px;
    color: rgb(195, 0, 0);
  }
  .carts_show_count > a.checkout{
    display: inline-block;
    float: right;
    padding-top: 10px;
  }
}
.carts_show_count > .carts_show_checkout_btn{
  vertical-align: bottom;
}


.carts_show_clear{
  text-align: center;
  margin-bottom: 100px;
}

.items{
  border-bottom: 1px solid #000;
}

ul.my-cart > li{
  list-style-type: none;
}
.show_del_btn{
  margin: 10px 0;
}






