.section_carts_show{
  background-color: #fff;
}
.col_carts_show{
  background-color: #fff;
}
.carts_show_info{
  border: 1px solid #000;
}
.carts_show_info:hover{
  background-color: rgb(245, 245, 245);
}

.items{
  border-bottom: 1px solid #000;
}

ul.my-cart{
  margin-bottom: 100px;
  border-bottom: 1px solid #aaa;
}
ul.my-cart > li{
  margin-bottom: 50px;
  list-style-type: none;
}
.show_del_btn{
  margin: 10px 0;
}
.carts_show_price > span{
  font-size: 30px;
  color: rgb(195, 0, 0);
}
.carts_show_price > del{
  color: #aaa;
  margin-right: 20px;
}
.show_checkout_btn{
  font-size: 30px;
  color: rgb(195, 0, 0);
}


.carts_show_store{
  background-color: #000;
}
.carts_show_store > a{
  color: #fff;
  text-decoration: none;
}
.carts_show_store > a:hover{
  color: #fff;
}
.carts_show_count{
  border: 1px solid #000;
}
.carts_show_clear{
  margin-bottom: 600px;
}
.carts_show_clear > .btn_clear{
  margin-right: 65px;
}